.reviews_title a {
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    font-size: 20px;
    text-decoration: none;
    font-family: var(--font-family-futura);
    align-self: center;
}

.ti-review-item {
    padding: 0 24px !important;
}

.ti-review-content {
    color: rgba(0, 0, 0, 0.54);
}

.carousel-caption {
    top: 160px;
}

.carousel-indicators {
    top: 65% !important;
}

.carousel-indicators .active {
    background-color: #17479e;
    height: 5px;
    border-radius: 2px;
}

.top-menu {
    width: 100%;
    background: #17479e;
    color: #fff;
    list-style: none;
    margin-bottom: 0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    display: flex;
}

.top-menu>:last-child {
    display: flex;
    justify-content: flex-end;
}

.top-menu>:first-child {
    font-size: 16px;
}

.top-menu>:last-child>a {
    margin-right: 15px;
    display: grid;
    place-items: center;
}

.top-menu a {
    display: flex;
    background: var(--color-secondary);
    color: var(--color-white);
    text-decoration: none;
    list-style: none;
}


/* Navigation */

.navigation {
    box-shadow: 0px 0px 12px #00000029;
    background-color: var(--color-white);
    padding: 0.5em 0;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--color-dark-blue);
    justify-content: space-around;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-dark-blue);
}

.navigation ul li a:hover {
    color: var(--color-secondary);
}

.navigation-inner {
    margin-top: 12px;
}

.social-nav {
    background: var(--color-dark-blue);
    color: var(--color-white);
}

.nav_item {
    display: flex;
    flex-direction: row;
    font-size: 1em;
}

.boldText {
    margin-bottom: 20px;
    color: black;
    display: block;
}

p .compliments {
    display: block;
}

.compliments>.happy-moving {
    color: black;
}

ul.faq_list>li>p {
    font-size: 15px;
    margin-top: 30px !important;
}

ul.faq_list>li>p>span {
    font-size: 18px;
    display: block;
}

.hero_text {
    text-shadow: 2px 2px 3px #00000085;
    font-family: var(--font-family-futura);
    font-size: 2rem;
    color: white !important;
}

.navbar-nav .nav-item {
    display: grid;
    place-items: center;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #17479e;
}