.mobileCTO {
    height: 440px;
    text-align: center;
}

.mobile-hero {
    font-size: 24px;
    margin-top: 22px;
}

.enjoy-text {
    display: block;
    color: #17479E;
    margin-top: 28px;
    margin-bottom: 28px;
}