/* grey to color css */
.color img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.color img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

/* fade in  */
.fadein img {
  opacity: 0.5;
  transition: 1s ease;
}

.fadein img:hover {
  opacity: 1;
  transition: 1s ease;
}

/* grow animation */
.grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

/* shrink animation */
.shrink img {
    transition: 1s ease;
    }
    
    .shrink img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
/* brighten */
.brighten img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    }
    
    .brighten img:hover {
    -webkit-filter: brightness(100%);
    }
